<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>FirstApp</title>
  </head>
  <body>
    <h1>Hello, Angular!</h1>
    <!--Interpolación-->
    <input type="text" [(ngModel)]="name" class="form-control form-control-sm">
    <p>Nombre: {{name_p}}</p>
    <input type="text" [(ngModel)]="edad" class="form-control form-control-sm">
    <p>Edad: {{edad}}</p>
    <input type="text" [(ngModel)]="email" class="form-control form-control-sm">
    <p>Email: {{email}}</p>
    <input type="text" [(ngModel)]="activo" class="form-control form-control-sm">
    <p>Activo: {{esActivo()}}</p>
    <h2>Directivas ngIF y ngFor, son atributos que permiten agregar elementos HTML</h2>
    <p>Nombre: {{name_p}}</p>
    <p>Edad: {{edad}}</p>
    <p *ngIf="edad >= 18">Es mayor de edad</p>
    <table class="table">
      <thead class="bg-warning text-white">
        <tr>
          <td>Consto de proyectos</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of valorProyectos">
          <td>{{item}}</td>
        </tr>
      </tbody>
    </table>
    <h2>Bóton incremento</h2>
    <p>{{contador}}</p>
    <button (click)="incrementar()" class="btn btn-primary">Incrementar</button>
    <!-- Optional JavaScript; choose one of the two! -->
    <h2>Nuevo componente</h2>
    <app-como-test></app-como-test>

    <h2>Controladores</h2>
    <div ng-app="app1" ng-controller="controller">
      <p ng-bind="nombre1"></p>
      Nombre: <input type="text" ng-model="primerNombre"><br>
      Apellido: <input type="text" ng-model="primerApellido"><br>
      <p>{{nombreCompleto()}}</p>
      <p>{{nombre1}}</p>
    </div>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <script>
      var app = angular.module("app1", []);
      app.controller("controller", function($scope) {
        $scope.nombre1 = "Elvis";
        $scope.primerNombre = "Francisco";
        $scope.primerApellido = "Quevedo";
        $scope.nombreCompleto = function () {
          $scope.primerNombre + " " + $scope.primerApellido;
        }
      });
    </script>
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
  </body>
</html>

<router-outlet></router-outlet>
